<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Proyectos</title>
    <link rel="stylesheet" href="styles/proyecto.css">
</head>

<body>
    <div class="container">
        <h1>Panel de Proyectos</h1>
        <div class="search-bar">
            <input type="text" id="search-name" placeholder="Buscar por nombre">
            <input type="date" id="search-date">
            <select id="search-status">
                <option>Todos</option>
                <option>Completado</option>
                <option>En progreso</option>
                <option>Pendiente</option>
            </select>
            <button id="buscar">Buscar</button>
        </div>
        <div class="project-list"></div>

    </div>
    <script type="module" src="../controller/main.js"></script>
</body>

</html>